
/* --------------------------------------------------------------------- ORDINATEUR -- */
@media (min-width: 768px){
    #projets {
        width: 100vw;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
    }

    .projets-background {
        position: absolute;
        z-index: -100;
        width: 100%;
        height: 100%;
        background: url(noise1.svg), linear-gradient(to bottom, white 80%, white 100%);
        background-size: auto 100vh; /* Ajuste la taille du dégradé */
        background-repeat: repeat; /* Répétition du fond si le contenu dépasse la hauteur */
        box-sizing: border-box; /* Pour inclure le padding dans la hauteur du div */
        background-blend-mode: multiply;
        filter: brightness(1.2);
    }

    .projets-marge{
        height:10vh;
    }

    .index-projet {
        width: 100%;
        height: 40vh;
        display: flex;
        margin: 10px 0 10px 0;
        background-color: white;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    }

    /* -- partie de gauche: image -- */
    .index-projet-image {
        width: 50%;
        height: 100%;
        overflow: hidden;
        position: relative;

    }

    .index-projet-image img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: center;        
    }

    .image-top {
        z-index:2;
        transition: opacity 0.5s ease-in-out;
    }
    .image-top:hover {
        opacity: 0;
    }

    /* -- partie de droite: description -- */
    .index-projet-description {
        box-sizing: border-box;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
    }

    .index-projet-description-contenu {
        margin: 0 2% 0 2%;
    }

    .voir-plus {
        margin: 0 2% 0 2%;
        align-self: flex-end;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 1.4rem;
        font-style: italic;
        text-decoration: none;
        transition: margin 0.6s ease-in-out, transform 0.3s ease-in-out;
    }
        .voir-plus:hover {
            transform: scale(1.06);
        }

    /* titre */
    .index-projet-description h1 {
        z-index: 10;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-size: 2.5em;
        font-style: normal;
        margin: 2% 0 0 0;
        padding: 0;
    }

    /* tags */
    .index-projet-description-tags {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
        .index-projet-description-tags p {
            margin: 10px 20px 10px 0;
            padding: 3px 10px;
            font-style: italic;
            border: 2px solid;
            border-radius: 15px;
            white-space: nowrap;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
        }

    /* textes */
    .index-projet-description-text {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        text-align: justify;
        margin: 0;
    }

    .index-projet-description-text::after {
        content: "";
        display: inline-block;
    }

    /* fleche de scroll */
    .fleches-projets-activator {
        position: absolute;
        bottom: 90vh;
        height: 2%;
        width: 2%;
        z-index: 100;
    }

    .scroll-projets{
        position: absolute;
        bottom: 0;
        width: 3%;
        margin-bottom: 2vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        transition: opacity 4s ease-in-out;
    }
        .scroll-projets img {
            width: 100%;
        }

}

/* --------------------------------------------------------------------- MOBILE -- */
@media (max-width: 767px) {
    #projets {
        visibility: hidden;
        width: 0;
        height: 0;
        overflow: hidden;
    }
}
