/* Couleurs possibles: #D2CDD4 (gris un peu clair) #E1DCE3 (gris clair) #F5F5F7 (gris tres clair) */

/* GENERAL */
html {
    scroll-behavior: smooth;
}

body {
    /* palette de couleur */
    --presque-noir: #242326;
    --gris-tres-clair: #F5F5F7;
    --gris-clair: #E1DCE3;
    --white: white;
    --red-1: #f35c48;
    --red-2: #cb697c;
    --blue-1: #5499ee;
    --blue-2: #7783d2;
    --blue-3: #5a55c0;
    --green-1: #3cc3a8;
    /* propriétés */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--presque-noir);
}

a {
    color: inherit; /* La couleur du texte est héritée de son parent */
    text-decoration: none; /* Supprimer tout soulignement de lien */
}

.titre-de-section {
    padding: 0 0 3vh 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    font-style: italic;
    background-color: none;
    text-align: center;
}

/* FOOTER */
footer {
    margin-top: 100px;
    background-color: #e2e2e4;
    color: #fff;
    text-align: center;
    padding: 1em;
    bottom: 0;
    width: 100%;
    padding: 0;
}

/* ---------------------------------------------------------- mobile ----- */
@media (max-width: 767px) {
    .titre-de-section {
        visibility:hidden;
        height:0;
        width:0;
        margin:0;
    }

    html {
        width: 100vw;
    }

    main {
        
    }
}