/* ---------------------------------------------------------- oridinateur ----- */
@media (min-width: 768px){
    #presentation {
        width: 100%;
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .presentation-elements {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: row;
    }
        .presentation-elements video {
            width: 50vw;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
            border-radius: 5px;
            z-index: 2;
            margin-bottom: 3%;
        }
        .presentation-elements a {
            margin-left: 2rem;
            padding: 0.5rem 1rem;
            font-style: italic;
            border: 2px solid;
            border-radius: 1.5rem;
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-size: 2.5rem;
            color: var(--white);
            background-color: var(--red-1);
            cursor: pointer;
            transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
        }
            .presentation-elements a:hover {
                color: var(--red-1);
                background-color: var(--white);
            }

    .infos-background {
        position: absolute;
        z-index: -100;
        width: 100%;
        height: 100%;
        background-blend-mode: multiply;
        background-color: white;
        background: url(noise1.svg), linear-gradient(to bottom, white 80%, var(--gris-tres-clair) 100%);
        filter: brightness(1.2);
    }

    .infos-moving-image {
        position: absolute;
        width: 75vw;
        height: 55vw;
        margin-bottom: 3%;
    }

    .fleches-infos-activator {
        position: absolute;
        top: 2px;
        height: 2%;
        width: 2%;
        z-index: 100;
    }

    /* FLECHES DE SCROLL */
    .scroll-infos {
        position: absolute;
        bottom: 0;
        width: 3%;
        margin-bottom: 2vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        transition: opacity 4s ease-in-out;
    }
        .scroll-infos img {
            width: 100%;
        }
}


/* ---------------------------------------------------------- téléphone ----- */
@media (max-width: 767px){
    #presentation {
        width: 100%;
        box-sizing: border-box;
        margin: 100px 0 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;
        overflow: hidden;
    }

    .presentation-elements {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        box-sizing: border-box;
        margin: 10px;
    }
        .presentation-elements video {
            width: 100%;
            max-height: 100%;
            box-sizing: border-box;
        }
        .presentation-elements a {
            margin-top:10px;
            box-sizing: border-box;
            padding: 0.5rem 1rem;
            font-style: italic;
            border: 2px solid;
            border-radius: 1.5rem;
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-size: 1.7rem;
            color: var(--white);
            background-color: var(--red-1);
            cursor: pointer;
            transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
        }

    .infos-moving-image {
        visibility:hidden;
        width:0;
        height:0;
    }

    .scroll-infos {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}
